* {
    margin: 0;
    padding: 0;
    border: 0;
}

.bar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 56px;
    padding: 0 24px;
}

.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    width: 348px;
    height: 40px;
    padding-left: 8px;
    border: 1px solid #ccc;
    font-size: 1.2rem;
    
}

.icon-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 57px;
    height: 40px;
    border: 1px solid #ccc;
}

.icons {
    display: flex;
    width: 130px;
    height: 34px;
    justify-content: space-between;
    align-items: center;
}

.icon-user img {
    width: 34px;
    border-radius: 50%;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 30px;
    background-color: #f9f9f9;
}

.screen-video iframe {
    display: flex;
    width: 952px;
    height: 537px;
}

.title-video-principal {
    font-size: 20px;
}

.videos-rel {
    display: flex;
}

.infor-video-rel {
    width: 196px;
    height: 89px;
}
